.app {
  display: flex;
  flex-direction: column;
  gap: var(--size-fluid-2);
}

.token {
  display: inline-flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  border-radius: var(--radius-2);
  padding: var(--size-2);
  background-color: var(--brand);
}

.pos {
  font-size: var(--font-size-00);
  font-variant: small-caps;
  color: var(--text-2);
}

.segment {
  display: flex;
  flex-direction: row;
  gap: var(--size-2);
  width: fit-content;
}

.card {
  background-color: var(--surface-2);
  border-radius: var(--radius-2);
  padding: var(--size-fluid-1);
  box-shadow: var(--shadow-2);
  animation: var(--animation-fade-in-out);
  cursor: pointer;

  &:hover {
    box-shadow: var(--shadow-3);
  }
}

.english {
  background-color: var(--color-english);
}

.spanish {
  background-color: var(--color-spanish);
}
