@import "open-props/normalize";
@import "open-props/style";

:root {
  --brand: var(--violet-3);
  --color-english: var(--indigo-3);
  --color-spanish: var(--teal-3);
  @media (prefers-color-scheme: dark) {
    --brand: var(--violet-7);
    --color-english: var(--indigo-7);
    --color-spanish: var(--teal-7);
  }
}

html {
  padding: var(--size-fluid-2);
}
